<ion-view view-title="Notifications">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true" class="lt-blue-grad">
    <ion-list>
        <ion-item ng-repeat="item in alerts.data" class="notification">
          <div class="row">
            <div class="col item-icon-left">
              <i class="icon ion-{{item.gsx$type.$t}}-circled {{item.gsx$type.$t}}"></i>
            </div>
            <div class="col col-90">
              <div class="wordwrap subItems" ng-bind-html="item.gsx$date.$t"></div>
              <div class="wordwrap agendaItems" ng-bind-html="item.gsx$title.$t"></div>
              <div class="wordwrap subItems" ng-bind-html="item.gsx$msg.$t"></div>
            </div>
          </div>
        </ion-item>
        <div class="centered" ng-show="!alerts.data.length">NO NOTIFICATIONS</div>
    </ion-list>
  </ion-content>

</ion-view>
