<ion-view view-title="Dining">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">
    <nav-header-bar class="row center dayBar txtShadow">
      <div class="button-bar" ng-repeat="key in dining.keys">
        <button class="button dayBar white" ng-class="{activeBtn: dining.isActive(key)}" ng-click="dining.selectDay(key)" ng-bind="key"></button>
      </div>
    </nav-header-bar>

    <div class="list">
      <div ng-repeat="items in dining.currentEvents">
        <a class="item item-stable lt-blue-grad item-icon-right" ng-click="dining.toggleGroup(items)" ng-class="{active: dining.isGroupShown(items)}">
          <i class="icon" ng-class="dining.isGroupShown(items) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          <div class="row">
            <div class="col col-25 wordwrap timeCol" ng-bind-html="items.time"></div>
            <div class="col col-75">
              <div class="wordwrap agendaItems" ng-bind-html="items.activity"></div>
              <div class="wordwrap subItems" ng-bind-html="items.location"></div>
            </div>
          </div>
        </a>
        <div class="item-accordion" ng-if="dining.isGroupShown(items)">
          <div class="row">
            <div class="col">
              <div class="wordwrap detailItems">{{items.detail}}</div>
              <div class="wordwrap noteItems" ng-if="items.note.length > 0">{{items.note}}
              </div>
            </div>
            <div class="col col-20">
              <a class="button button-clear ion-ios-telephone contact" ng-if="items.phone.length > 0" ng-href="tel: {{items.phone}}"></a>
              <a class="button button-clear ion-earth contact" ng-if="items.url.length > 0" ng-click="goToURL(items.url)"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centered" ng-show="!dining.currentEvents.length">
      <ion-spinner icon="bubbles"></ion-spinner></div>
  </ion-content>

</ion-view>
