<ion-view view-title="FAQ">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">
    <div class="list">
      <div ng-repeat="items in faq.data">
        <a class="item item-stable lt-blue-grad item-icon-right" ng-click="faq.toggleGroup(items)" ng-class="{active: faq.isGroupShown(items)}">
          <i class="icon" ng-class="faq.isGroupShown(items) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          <div class="row">
            <div class="col">
              <div class="wordwrap agendaItems" ng-bind-html="items.question"></div>
            </div>
          </div>
        </a>
        <div class="item-accordion" ng-if="faq.isGroupShown(items)">
          <div class="row">
            <div class="col">
              <div class="wordwrap detailItems" ng-bind-html="items.answer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centered" ng-show="!faq.data.length">
      <ion-spinner icon="bubbles"></ion-spinner></div>
  </ion-content>

</ion-view>
