<ion-view view-title="Route Maps">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content scroll="false" class="lt-blue-grad" has-tabs="true">
    <nav-header-bar class="row center dayBar txtShadow">
      <div class="button-bar" ng-repeat="key in liveMap.keys">
        <button class="button dayBar white" ng-class="{activeBtn: liveMap.isActive(key)}" ng-click="liveMap.selectDay(key)" ng-bind="key"></button>
      </div>
    </nav-header-bar>
    <leaflet defaults="defaults" geojson="geojson" markers="markers" data-tap-disabled="true"></leaflet>
  </ion-content>

  <ion-footer-bar>
    <div class="tabs tabs-striped">
      <a ng-repeat="routes in liveMap.currentEvents" ng-click="liveMap.loadGeoJSON($index)" class="tab-item">{{routes.name}}</a>
    </div>
  </ion-footer-bar>

</ion-view>
