<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar></ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="expanded">
      <img src="img/avatar.png" class="avatar">
      <div class="menu-bottom">Courage Classic</div>
    </ion-header-bar>
    <ion-content class="lt-blue">
      <ul class="list">
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.livemap"> <i class="icon ion-map"></i> Route Maps </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.agenda"> <i class="icon ion-calendar"></i> Agenda </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.activity"> <i class="icon ion-android-walk"></i> Activities </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.dining"> <i class="icon ion-android-restaurant"></i> Dining </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.sponsors"> <i class="icon ion-android-favorite"></i> Sponsors </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.faq"> <i class="icon ion-help"></i> FAQ </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.settings"> <i class="icon ion-android-bicycle"></i> Rider Profile </a>
        <a ng-if="volunteer.length" class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ui-sref="app.volunteer"> <i class="icon ion-clipboard"></i> Volunteer </a>
        <a class="item item-icon-left blue" ui-sref-active="current" nav-clear menu-close ng-click="showAbout()"> <i class="icon ion-ios-information-outline"></i> About </a>
     </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
