<ion-popover-view>
  <ion-content>
    <div class="list" ng-click="popover.hide()">
      <a class="item" ng-click="shareScreenshot()" target="_blank">
        Share a Screenshot
      </a>
      <a class="item" ng-click="shareMessage()" target="_blank">
        Share a message
      </a>
      <a class="item" ng-click="sharePhoto()" target="_blank">
        Take a Picture
      </a>
    </div>
  </ion-content>
</ion-popover-view>
