<ion-modal-view>
  <ion-header-bar class="bar bar-header">
    <h1 class="title">Select Rider</h1>
    <button class="button button-clear cancel ion-close" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content scroll="true">
      <ion-item ng-repeat="rider in appSettings.riderList" ng-click="appSettings.selectRider(rider)">
        <a ng-click="appSettings.selectRider(rider)">{{rider.name.first}} {{rider.name.last}}</a>
      </ion-item>
      <div class="centered" ng-hide="appSettings.riderList.length">RIDER NOT FOUND<br/>Please provide at least 3 letters of the first or last name.</div>
    </ion-content>
</ion-modal-view>
