<ion-view view-title="Rider Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content class="lt-blue-grad" scroll="true">
    <div ng-hide="appSettings.riderSelected">
      <div class="row wordwrap centered"><b>Find your Courage Classic account<b></div>
      <ul class="list">
        <li class="item item-input-inset search-wrapper">
          <label class="item-input-wrapper search-label">
            <input ng-model="appSettings.rider.first" type="text" placeholder="First Name">
          </label>
          <label class="item-input-wrapper search-label">
            <input ng-model="appSettings.rider.last" type="text" placeholder="Last Name">
          </label>
          <button  class="button green button-small ion-search white" ng-click="appSettings.getParticipants()"></button>
        </li>
      </ul>
    </div>
    <div class="list card" ng-show="appSettings.riderSelected">
      <div class="item">
        <button class="button green white change" ng-show="appSettings.riderSelected" ng-click="appSettings.clearRider()" style="position:absolute;right:10px;">Change Rider</button>
        <i class="icon ion-speakerphone" ng-if="appSettings.riderObj.aTeamCaptain == 'true'"></i> <b>{{appSettings.riderObj.name.first}} {{appSettings.riderObj.name.last}}</b>
        <p ng-show="appSettings.riderObj.teamName">Team: {{appSettings.riderObj.teamName}}</p>
      </div>
      <div class="item item-body centered">
        <img ng-show="appSettings.riderObj.badges.participantMilestoneLargeBadgeUrl" ng-src="http://support.childrenscoloradofoundation.org{{appSettings.riderObj.badges.participantMilestoneLargeBadgeUrl}}">
        <img ng-show="appSettings.riderObj.badges.personalDonationBadgeLargeUrl" ng-src="http://support.childrenscoloradofoundation.org{{appSettings.riderObj.badges.personalDonationBadgeLargeUrl}}">
        <div class="row">
          <div class="col">Goal: ${{appSettings.riderObj.goal}}</div>
          <div class="col">Raised: ${{appSettings.riderObj.amountRaised}}</div>
        </div>
        <i ng-show="appSettings.congrats" class="icon ion-star congrats"></i>
        <progress max="{{appSettings.riderObj.goalp}}" value="{{appSettings.riderObj.amountRaisedp}}"></progress>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="goToURL(appSettings.riderObj.personalPageUrl)"><i class="icon ion-person"></i> My Page</a>
        <a class="tab-item" href="#" ng-show="appSettings.riderObj.teamName" ng-click="goToURL(appSettings.riderObj.teamPageUrl)"><i class="icon ion-person-stalker"></i> Team Page</a>
      </div>
    </div>
    <div class="row wordwrap centered">Fundraising Leaderboards</div>
    <div class="row" ng-show="appSettings.isOnline">
      <div class="list col col-50">
        <div class="item item-divider centered">Rider</div>
        <div class="item leader" ng-repeat="riders in appSettings.riderLB"><h3>{{$index + 1}}. {{riders.name}}</h3>{{riders.total}}</div>
      </div>
      <div class="list col col-50">
        <div class="item item-divider centered">Team</div>
        <div class="item leader" ng-repeat="teams in appSettings.teamLB"><h3>{{$index + 1}}. {{teams.name}}</h3>{{teams.total}}</div>
      </div>
    </div>
    <div class="row centered" ng-hide="appSettings.isOnline">Network not available</div>
  </ion-content>

</ion-view>
