<ion-view view-title="Sponsors">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">
    <div class="list" ng-repeat="category in sponsor.categories">
      <div class="item item-divider">{{category}}</div>
      <div class="center" ng-repeat="sponsors in sponsor.categoryItems(category)">
        <div class="item sponsor" ng-click="goToURL(sponsors.url)">
          <span ng-if="!sponsors.imgurl.length > 0">{{sponsors.name}}</span>
          <img ng-class="{sponsorLogo:!$parent.$parent.$first, fSponsorLogo: $parent.$parent.$first}" ng-if="sponsors.imgurl.length > 0" ng-src="{{sponsors.imgurl}}">
        </div>
      </div>
    </div>
    <div class="centered" ng-show="!sponsor.categories.length">
      <ion-spinner icon="bubbles"></ion-spinner></div>
  </ion-content>

</ion-view>
