<ion-view view-title="Volunteer Jobs">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon green white"></button>
    <img class="bar-icon" src="img/logo.png">
    <button class="button ion-android-share-alt share green white" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">
      <div class="item sponsor">
        <ul class="list">
          <li ng-show="volunteer[0].job1" class="item">{{volunteer[0].job1}}</li>
          <li ng-show="volunteer[0].job2" class="item">{{volunteer[0].job2}}</li>
          <li ng-show="volunteer[0].job3" class="item">{{volunteer[0].job3}}</li>
          <li ng-show="volunteer[0].job4" class="item">{{volunteer[0].job4}}</li>
        </ul>
        <h1 class="centered">Thank you {{volunteer[0].firstName}}!</h1>
      </div>
    <div class="centered" ng-show="!volunteer.length">We couldn\'t locate your information</div>
  </ion-content>

</ion-view>
