@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../font/SourceSansPro.woff') format('woff');
}
.spinner svg {
  padding-top: 40px;
  width: 19% !important;
  height: 85px !important;
  stroke: #8bcc04;
  fill: #8bcc04;
}
ion-nav-bar, ion-footer-bar, ion-header-bar {
background-color: #33B6E4;
/*border-bottom: 1px solid #fff !important;*/
margin: 0px !important;
padding: 0px !important;
}
ion-footer-bar {
padding: 0px !important;
}
ion-nav-bar .title, ion-footer-bar .title, ion-header-bar .title {
color: #ffffff;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
}
.bar-header, .bar-footer {
  background-color: #33B6E4;
}
.icon.ion-chevron-down, .icon.ion-chevron-up {
font-size: 14px !important;
}
.wordwrap {
white-space: pre-wrap;
}
.timeCol {
padding-top: 10px;
padding-bottom: 10px;
left:0;
right:0;
font-size: 14px;
}
.center {
text-align:center;
}
.popover {
  height: 165px;
}
ion-content, .item.item-thumbnail-right {
  background-color:#ffffff;
}
.item.item-stable {
line-height: 16px !important;
padding-top: 0 !important;
padding-bottom: 0 !important;
}
.item.item-accordion {
line-height: 16px;
padding-top: 0;
padding-bottom: 0;
transition: 0.09s all linear;
}
.search-wrapper {
  border: 2px solid #8bcc04;
  border-radius: 0px;
  padding:0px;
  margin-left: 10px;
  margin-right: 10px;
}
.search-label {
  padding:0px;
  background-color:#fff;
  margin-left: 5px;
  width: 100px;
}
.ion-search.white {
  font-size:1.8em;
  border-radius:0px;
  width:40px;
}
.item.item-accordion.ng-hide {
line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
display: block !important;
}
header {
font-weight:bold;
justify-content:center;
}
.bar-nav{
  background-color: #00325b;
  color: #ffffff;
}
.nav-bar-block .title {
   margin: 0;
   text-align: center !important;
   left:0px !important;
   right:0px !important;
}
.bar-icon {
margin-left:12px;
margin-top: 7px;
width: 22px;
height: 30px;
}
.button.button-icon.icon.ion-navicon {
  border-radius: 0px;
}

.dayBar{
  background-color: #33B6E4;
  font-size:18px;
  padding:0px;
  border:0px;
  border-radius:0px;
}
.button-bar {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #fff;
}
.button-bar > .button {
  border-radius: 0 !important;
}
.button-bar:last-child {
  border-right-width: 0px;
  border-right-style: none;
}

.button.dayBar.activeBtn {
background: #8bcc04;
color: #ffffff;
}

.agendaItems {
font-family: 'Source Sans Pro';
font-weight: 700;
font-size:14px;
}
.subItems {
font-family: 'Source Sans Pro';
font-size: 12px;
font-weight: 300;
}
.detailItems {
font-family: 'Source Sans Pro';
font-size:14px;
justify-content:center;
padding: 10px;
}
.noteItems {
font-family: 'Source Sans Pro';
font-size:12px;
justify-content:center;
padding: 10px;
}
html, body{
font-family: 'Source Sans Pro';
height: 100%;
}
.item.sponsor {
border-width:0;
padding: 5px;
}
.list {
margin-bottom:0;
}
h4 {
color:#FFF;
font-weight:bold;
}
.button.share {
font-size:30px !important;
position:absolute;
right:0px;
border-radius: 0px;
height: 43px;
}
.button.change {
font-size:16px !important;
position:absolute;
right:0px !important;
top:0px !important;
border-radius: 0px;
height: 100%;
}
.button.contact{
font-size:30px !important;
color: #8bcc04;
}
.ta {
border: 2px solid #8bcc04;
padding: 5px;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}
.green {
  background-color: #8bcc04 !important;
  border-color: #8bcc04;
}
.orange {
  background-color: #ff9900 !important;
}
.lt-blue {
  background-color: #00325b;
}
.vlt-blue {
  background-color: #D4F0FA !important;
}
.blue {
  background-color: #00325b !important;
  color: #ffffff !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
  border: 0;
}
.current {
background-color: #8bcc04 !important;
}
.white {
  color: #ffffff;
}
.lt-blue-grad {
background: #cfeef9 !important;
border-color: #fff !important;
}
.item.lt-blue-grad.current, .item.lt-blue-grad.active {
background: #8bcc04 !important;
color: #ffffff;
}
.txtShadow {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
}
.angular-leaflet-map {
  height: 93%;
}
.leaflet-bottom .leaflet-control {
    margin-bottom: 12px !important;
}
.notification {
  padding: 5px;
}
.alert {
    color:red;
}
.information {
    color: #00325b;
}
.sponsorLogo {
  max-width: 80%;
  max-height: 80px;
}
.fSponsorLogo {
  max-width: 80%;
  height: auto;
  padding: 26px 0;
}
.popup-head {
  background-color: #00325b;
}
.popup-title {
  color: #fff;
}
.menu .bar.bar-header.expanded {
    background-image: url("../img/courage_bg.jpg") !important;
    background-size: cover !important;
    transition: all .5s ease-in-out;
    min-height: 100px;
    border-style: none !important;
}
.platform-ios .menu .bar.bar-header.expanded {
  min-height: 110px;
}
.platform-ios .menu .has-header {
  top: 110px !important;
}
.menu-bottom {
    bottom: 6px;
    left: 12px;
    right: 16px;
    position: absolute;
    color: #FFF;
    font-size: 20px;
}
.menu.menu-left * {
    font-weight: bold;
}
.menu .avatar {
    top: 16px;
    left: 16px;
    height: 65px;
    width: 65px;
    margin: 8px;
}
.platform-ios .menu .avatar {
  top:36px;
}
.menu .has-header {
    top: 100px !important;
}
.menu .scroll {
  width: 275px;
}
.cancel {
  background-color: #8bcc04 !important;
  border-color: #8bcc04 !important;
  color: #fff !important;
  top: 0px !important;
  right:0px !important;
  border-radius: 0px;
  width: 44px;
  min-height: 43px !important;
}
.button.button-positive {
    border-color: transparent;
    background-color: #8bcc04;
    color: #fff;
    border-radius: 0px;
}
button.button-positive.activated {
    background-color: #00325B !important;
}
.button.activated {
  color: #003258 !important;
}
.tabs-calm .tabs {
    background-color: #33B6E4 !important;
}
.tab-title {
  font-size: 18px !important;
}
.item.leader {
  padding: 6px 12px;
  font-weight: normal;
  font-size: 14px;
}
.item.leader h3 {
  font-weight: bold;
  font-size: 14px;
}
.item-divider {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  background-color: #00325B;
  border-radius: 0px;
}
progress {
	height: 14px;
	margin: 2px auto;
	display: block;
	-webkit-appearance: none;
	border: 1px solid #000;
}

progress::-webkit-progress-bar {
	background: #FFF;
	border-radius: 0px;
	padding: 1px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 0px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background-color: #00325B;
}
.tabs-icon-left.tabs .tab-item {
  font-size: 14px;
  padding-top: 5px;
}
.congrats {
  color: #FFD700;
  position: absolute;
  right:4px;
  bottom: 8px;
  font-size: 44px;
}
